language: php

php:
  - 5.4
  - 5.5
  - 5.6

script:
  - phpunit --stderr --bootstrap tests/bootstrap.php tests/tests_base.php
  - phpunit --stderr --bootstrap tests/bootstrap.php tests/tests_sdk.php
